body{
    display: grid;
    grid-template-areas: 
         "cabe cabe cabe"
         "brac corp corp"
         "pern pern pern";
         
}

.cabeca{
    grid-area: cabe;
    background-color: pink;
    text-align: center;
}

.braco{
    grid-area: brac;
    background-color: rgb(255, 211, 218);
}

.corpo{
    grid-area: corp;
    background-color: rgb(255, 255, 255);
}

.perna{
    grid-area: pern;
    background-color:  pink;
    text-align: center
}

.box{
    box-sizing: border-box;
}

header{
}